<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog page</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/8d9491e66a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="flex-box">
        <nav class="navbar flex-box">
            <p class="logo flex-box">Blogs</p>
            <ul class="menu flex-box">
                <li><a href="/">Home</a></li>
                <li><a href="/create">New blogs</a></li>
            </ul>

        </nav>
    </header>